@using IdeaForSellsrc.Models.ViewModel.ViewModel;
@model RegistrationViewModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Dashboard">
    <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">

    <title>@Model.ListOfLiterals["Tittle"]</title>

    <script src="~/Content/jquery-2.1.1.js"></script>
    <script src="~/assets/js/messageProvider.js"></script>
    <!-- Bootstrap core CSS -->
    <link href="~/assets/css/bootstrap.css" rel="stylesheet">
    <!--external css-->
    <link href="~/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="~/assets/css/style.css" rel="stylesheet">
    <link href="~/assets/css/style-responsive.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

    <!-- **********************************************************************************************************************************************************
    MAIN CONTENT
    *********************************************************************************************************************************************************** -->

    <div id="login-page">
        <div class="container">

            <form class="form-login" id="RegistrationFormId">
                <h2 class="form-login-heading">@Model.ListOfLiterals["Registration"]</h2>
                <div class="login-wrap">
                    <input type="text" class="form-control" name="UserName" maxlength="50" placeholder="@Model.ListOfLiterals["UserID"]" autofocus>
                    <br>
                    <input type="password" class="form-control" name = "Password" maxlength="50" placeholder="@Model.ListOfLiterals["Password"]">
                    <br>
                    <input type="password" class="form-control" name ="ConfirmPassword" maxlength="50" placeholder="@Model.ListOfLiterals["ConfirmPassword"]">
                    <br>
                    <label class="checkbox">
                    </label>
                    <button class="btn btn-theme btn-block" href="index.html" type="submit"><i class="fa fa-lock"></i> @Model.ListOfLiterals["CREATEACCOUNTButton"]</button>
                    <hr>

                    <div class="login-social-link centered">
                        <p>@Model.ListOfLiterals["SinInAsSocialNetwork"]</p>
                        <button class="btn btn-facebook" type="submit"><i class="fa fa-facebook"></i> Facebook</button>
                        <button class="btn btn-twitter" type="submit"><i class="fa fa-twitter"></i> Twitter</button>
                    </div>
                    <div class="registration">
                        @Model.ListOfLiterals["HaveAccount"]<br />
                        <a class="" href="@Url.Action("Login", "Login")">
                            @Model.ListOfLiterals["LoginButton"]
                        </a>
                    </div>

                </div>
            </form>
        </div>
    </div>
    <script>
        $("#RegistrationFormId").submit(function (e) {

            var url = "@Url.Action("CreateAnAccount", "Registration")"; // the script where you handle the form input.

            $.ajax({
                type: "POST",
                url: url,
                data: $("#RegistrationFormId").serialize(), // serializes the form's elements.
                success: function (data) {
                    if (isJsonResult(data)) {
                        showModalMessage();
                    }
                    else {
                        alert('not j son');
                    }
                }
            });
            e.preventDefault(); // avoid to execute the actual submit of the form.
        });
    </script>
    <!-- js placed at the end of the document so the pages load faster -->
    <script src="~/assets/js/jquery.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>
</body>
</html>
